/* // XX-Large devices (larger desktops, 1400px and up) */
@media (max-width: 1440px) {
  h1 {
    font-size: 45px;
    line-height: 55px;
  }
  h2 {
    font-size: 30px;
    line-height: 40px;
  }
  h3 {
    font-size: 20px;
    line-height: 30px;
  }
  p {
    font-size: 14px;
    line-height: 24px;
    margin-top: 10px;
  }
  a {
    font-size: 14px;
    line-height: 28px;
  }

  .navbar-menu ul a {
    padding: 2px 15px;
    color: var(--white_color);
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    line-height: 48px;
    position: relative;
    font-weight: 700;
  }
}

/* // XX-Large devices (larger desktops, 1024px and up) */
@media (max-width: 1299px) {
  input {
    font-size: 14px;
  }

  .container {
    padding: 0 30px;
    max-width: 100%;
    width: 100%;
  }
  h2 {
    font-size: 26px;
    line-height: 35px;
  }

  .header-menu .logo img {
    height: 30px;
  }

  .header-menu .search {
    width: 300px;
  }

  .footer-about {
    margin-bottom: 40px;
  }

  .desktop-menu {
    display: none !important;
  }

  .mobile-menu {
    display: block;
    text-align: right;
    padding: 10px 0;
  }

  .mobile-menu button {
    color: var(--white_color);
  }

  .mobile-menu-content {
    text-align: left;
  }

  .navbar-menu ul a {
    color: #333;
  }

  .offcanvas-body ul {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .navbar-menu ul li a {
    padding: 0;
    line-height: 30px;
  }

  .navbar-menu ul li a:hover{
    background: none;
  }

  .navbar-menu ul li a::after {
    display: none;
  }

  .navbar-menu ul li:last-child {
    margin-left: 0;
  }

  .navbar-menu ul li:last-child a {
    /* background: var(--bg_color); */
    background: none;
  }

  .navbar-menu ul.dropdown-menu {
    display: none;
  }

  .navbar-menu ul.dropdown-menu.show {
    display: block;
    position: unset !important;
    padding: 0;
    border: 0;
    padding-left: 20px;
    font-size: 16px;
    transform: unset !important;
  }

  .navbar-menu ul.dropdown-menu.show a {
    font-size: 15px;
  }

  .navbar-menu ul.dropdown-menu.show a svg {
    color: #00599c;
  }
}

/* // XX-Large devices (larger desktops, 1024px and up) */
@media (max-width: 768px) {
  .container {
    padding: 0 20px;
  }

  .header-menu .search {
    display: none;
  }

  .header-menu .login-register a {
    font-size: 14px;
    line-height: 20px;
    color: #706969;
    gap: 5px;
    padding: 7px 10px;
    border-radius: 30px;
  }

  .footer-menu {
    margin: 20px 0;
  }
}
